<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TestMapper">
 
   <select id="getTest" resultType="Test" parameterType="map">
      SELECT *
      FROM t_test
      <where>
           <if test="id != null">
		  		AND id = #{id}
           </if>
      </where>
   </select> 
   
   <select id="getTestList" resultType="Test" parameterType="map">
      SELECT *
      FROM t_test
      <where>
           <if test="id != null">
		  		AND id = #{id}
           </if>
      </where>
   </select> 
   
   
   <!--添加地址信息 -->
   <insert id="save" parameterType="Test">
      insert into t_test
      (id,name,age) 
      values
      (#{id},#{name},#{age})
   </insert>
   
</mapper>
